* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f8f9fa;
  color: #333;
}
header {
  background-color: #a2d2ff;
  color: #333;
  text-align: center;
  padding: 20px;
}

nav {
  background-color: #bde0fe;
  color: #333;
  text-align: center;
  padding: 20px;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}
nav a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
  color: #0077b6;
}
div {
  display: flex;
  min-height: calc(100vh - 180px);
}

aside {
  background-color: aquamarine;
  width: 20%;
  padding: 20px;
  color: #333;
}

main {
  background-color: white;
  width: 60%;
  padding: 20px;
}

footer {
  background-color: #a2d2ff;
  color: #333;
  text-align: center;
  padding: 10px;
}

.filme-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f8f9fa;
}

.filme-card h3 {
  color: #0077b6;
  margin-bottom: 10px;
}
.serie-lista {
  margin-top: 20px;
}

.serie-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #f8f9fa;
  margin-bottom: 10px;
  border-radius: 5px;
}

.categoria {
  background-color: #d4ffc8;
  color: #333;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}
